<div class="font-semibold uppercase text-center lg:text-left mt-12 lg:mt-0">
    Discover
    <ul class="normal-case font-normal mt-6 lg:mt-16">
        <li class="leading-10">Home</li>
        <li class="leading-10">About Us</li>
        <li class="leading-10">Contact</li>
    </ul>
</div>
<div class="font-semibold uppercase text-center lg:text-left mt-12 lg:mt-0">
    About
    <ul class="normal-case font-normal mt-6 lg:mt-16">
        <li class="leading-10">Team</li>
        <li class="leading-10">Us</li>
        <li class="leading-10">App</li>
    </ul>
</div>
<div class="font-semibold uppercase text-center lg:text-left mt-12 lg:mt-0">
    Help
    <ul class="normal-case font-normal mt-6 lg:mt-16">
        <li class="leading-10">Privacy Policy</li>
        <li class="leading-10">Terms & Conditions</li>
        <li class="leading-10">Partners</li>
    </ul>
</div>
<div class="font-semibold uppercase text-center lg:text-left mt-12 lg:mt-0">
    Follow Us
    <ul class="normal-case font-normal mt-6 lg:mt-16">
        <li class="leading-10 text-cyan-500"><a href="#"><i class="fa-brands fa-facebook mr-2"></i>Facebook</a></li>
        <li class="leading-10 text-cyan-500"><a href="#"><i class="fa-brands fa-instagram mr-2"></i>Instagram</a></li>
        <li class="leading-10 text-cyan-500"><a href="#"><i class="fa-brands fa-x-twitter mr-2"></i>Twitter</a></li>
    </ul>
</div>


<% JSON.parse(languages.find(language => ( language.ele === 'footer_content' && language.index === index ))['name']).forEach(function(footerContent){ %>
    <li class="leading-10"><%= footerContent %></li>
<% } %>