<link rel="stylesheet" href="/css/form.css">
<div class="h-screen backdrop-blur flex justify-center items-center">
    <div class="">
        <form action="/insertDoc" class="min-w-[40rem] mx-auto bg-white py-16 px-4 rounded-md" method="post">
            <h1 class="text-center text-5xl font-semibold">Insert Document</h1>
            <div class="form__group">
                <label for="">ele</label>
                <input type="text" name="ele" class="form__controll" placeholder="element">
            </div>
            <div class="form__group mb-8">
                <label for="">name</label>
                <input type="text" name="name" class="form__controll" placeholder="name">
            </div>
            <div class="form__group mb-8">
                <label for="">content</label>
                <input type="text" name="content" class="form__controll" placeholder="content">
            </div>
            <div class="form__group mb-8">
                <label for="">icon</label>
                <input type="text" name="icon" class="form__controll" placeholder="icon">
            </div>
            <div class="form__group mb-8">
                <label for="">code</label>
                <input type="text" name="code" class="form__controll" placeholder="code">
            </div>
            <div class="form__group mb-8">
                <label for="">index</label>
                <input type="number" name="index" class="form__controll" placeholder="index">
            </div>
            <div class="form__group">
                <input type="submit" class="form__controll bg-cyan-700" value="Submit">
            </div>
        </form>
    </div>
</div>