<link rel="stylesheet" href="/css/slide.css">
<div id="slide" class="relative h-dvh" style="background: url('/imgs/slide0.jpg') top center / cover no-repeat;">
    <div class="absolute slide__carousel">
        <div class="splide size-full" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track size-full">
                <ul class="splide__list size-full">
                    <li class="splide__slide size-full"><a class="block size-full" href="#" style="background: url('/imgs/slide1.jpg') top center / cover no-repeat;">Slide 01 </a></li>
                    <li class="splide__slide size-full"><a class="block size-full" href="#" style="background: url('/imgs/slide6.jpg') top center / cover no-repeat;">Slide 02 </a></li>
                    <li class="splide__slide size-full"><a class="block size-full" href="#" style="background: url('/imgs/slide2.jpg') top center / cover no-repeat;">Slide 03 </a></li>
                </ul>
            </div>
        </div>
    </div>    
    <div class="absolute bottom-0 right-0 slide__footer" style="background: url('/imgs/slide.png') top center / cover no-repeat;"></div>
</div>
<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('.splide', {
            type       : 'loop',
            perPage    : 1,
            pagination : true, 
            arrows     : true,  
            progress   : true,
            autoplay   : true,         
            interval   : 3000,           
            pauseOnHover: true, 
            speed: 1000,
        }).mount();
    });
</script>
<!-- FFD3C3
7093F1 -->