<link rel="stylesheet" href="/css/main.css">
<main id="main" class="main">
    <div class="video-wrapper">
        <video class="video" id="video" width="720" height="560" autoplay muted></video>
    </div>
</main>